p {
    color: red;
}

body {
    background: url('images/background.jpeg');
    background-size: cover;
}

.content {
    /*background: transparent !important;*/
    /*//  background-color: rgba(255, 0, 0, 0.6) !important;*/
    background-color: rgba(34, 165, 195, 0.6) !important;
    /*font-family: 'Rock Salt', cursive;*/
    color: white !important;
}


.link a{
color: #9400D3 !important;
font-size: 20px;
}


.pic{
  height :200px;
 width :200px;
}
